body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 1224px;
}
.ant-message-notice-content{
  padding: 8px 220px 8px 16px !important;
}



.select-info{
  width: 100%;
  height:500px;
}
.select-info-h2{
  color: #108ee9;
  width: 200px;
  margin-left: 100px;
}
.select-info-content{
  margin-top: 15px;
}
.select-category-1{
  width: 100%;
  margin-bottom: 15px;
  height: 45px;
  position: relative;
}
.select-category-1>span {
  width: 85px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: right;
}
.select-category-1>button{
  position: absolute;
  top: 5px;
}
.error-sum .category-detail{
  /* width: 100%; */
  width: 698px;
  height:500px;
  float: right;
}


.downBtn{
  display: inline-block;
  cursor: pointer;
}

.subsection{
  margin-left: 20px;
}
.subsection>span {
  margin-right: 10px;
}
.materials-content,.papers-content{
  height: 200px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 10px;
}
.under-line{
  width: 100%;
  height: 1px;
  background: #d9d9d9;
  margin-top: 20px;
}
.left-line{
  width: 1px;
  background: #d9d9d9;
}
.addBtn{
  width: 100%;
  padding-left: 80px;
  margin-top: 50px;
}
.sureBtn{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.save-success{
  width: 240px;
  /* text-align: center; */
  margin-top: 65px;
  margin-left: 95px;
  border: 1px solid #d9d9d9;
  height: 130px;
  word-wrap:break-word;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}
.mark-position{
  position: absolute;
  top: -30px;
}
.studentTable .ant-btn:hover, .studentTable .ant-btn:focus{
  border: none;
}

.wrong-row {
  background-color: #ffbf00;
}
.wrong-row:hover > td{
  background-color:#ffbf00 !important;
}

.title-font{
  color: #108ee9;
}
.underline-style{
  width: 120%;
  border: 1px solid #c9c9c9;
  margin-left: -10%;
}

.book-title{
  display: inline-block;
  width: 60px;
  text-align: right;
}
.span-style{
  display: inline-block;
  width: 30px;
  text-align: center;
}
.span-style-test{
  width: 110px;
  display: inline-block;
  text-align: right;
}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}
.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
}
.ISBNInput .ant-input-number-handler-wrap{
  display: none
}

.search-btn-content{
  width: 100%;
  position: relative;
  height: 150px;
}
.search-btn{
  width: 100%;
  position: absolute !important;
  bottom: 10px;
}
.picName{
  cursor: pointer;
  color: #108ee9;
}
.underline-hr{
  width: 96%;
  border: 1px solid #c9c9c9;
  margin: 0 auto;
  margin-top: 20px;
}
.markWarning{
  width: 240px;
  height: 100px;
  border: 1px solid #49a9ee;
  position: absolute;
  left: 90px;
  top: 350px;
}
.markMsgContent{
  width: 100%;
  height: 400px;
  position: relative;
  top: 80px;
}
.errorSure{
  width: 100%;
  margin-top: 40px;
}
.errorSave {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 360px;
}
.common-title{
  display: inline-block;
  width: 80px;
  text-align: right;
}
.homeworkTable .ant-switch-checked{
  background-color: #c9c9c9 !important;
}
.homeworkTable .ant-switch{
  background-color: red;
}
.detail-content {
  position: absolute;
  top: 295px;
  left: -95px;
}
.detail-table{
  width: 450px;
  height: 190px;
  position: absolute;
  top: 300px;
  right: 0px;
}
.markName{
  display: inline-block;
  width: 70px;
}