body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 1224px;
}
.ant-message-notice-content{
  padding: 8px 220px 8px 16px !important;
}



.select-info{
  width: 100%;
  height:500px;
}
.select-info-h2{
  color: #108ee9;
  width: 200px;
  margin-left: 100px;
}
.select-info-content{
  margin-top: 15px;
}
.select-category-1{
  width: 100%;
  margin-bottom: 15px;
  height: 45px;
  position: relative;
}
.select-category-1>span {
  width: 85px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: right;
}
.select-category-1>button{
  position: absolute;
  top: 5px;
}
.error-sum .category-detail{
  /* width: 100%; */
  width: 698px;
  height:500px;
  float: right;
}


.downBtn{
  display: inline-block;
  cursor: pointer;
}

.subsection{
  margin-left: 30px;
}
.subsection>span {
  margin-right: 10px;
}
.materials-content{
  height: 400px;
  width: 100%;
  overflow-y: auto;
}
.addBtn{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.save-success{
  width: 240px;
  /* text-align: center; */
  margin-top: 65px;
  margin-left: 95px;
  border: 1px solid #d9d9d9;
  height: 110px;
  word-wrap:break-word;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}
.mark-position{
  position: absolute;
  top: -30px;
}
.ant-btn:hover, .ant-btn:focus{
  border: none;
}

.wrong-row {
  background-color: #ffbf00;
}
.wrong-row:hover > td{
  background-color:#ffbf00 !important;
}